@font-face {
    font-family: Titillium;
    src: url("../fonts/Titillium/TitilliumWeb-ExtraLight.ttf");
    src: url("../fonts/Titillium/TitilliumWeb-Light.ttf");
    src: url("../fonts/Titillium/TitilliumWeb-Regular.ttf");

}