@media (min-width: 1440px) and (max-width: 1800px) {
    .menu-burger,
    .header__menu-text-mobile{
        display: none;
    }
    .header-desk {
        heigth: 80px;
    }
    .header__menu-desktop {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    .header__menu-text {
        font-size: 18px;
    }
    .header__button {
        padding: 0 30px 0 40px;
    }
    .logo {
        display: flex;
    }
    .main {
        padding-left: 20%;
    }
    .main-text-subtitle {
        font-size: 18px;
    }
    .main-text {
        font-size: 24px;
    }
    .menu-burger {
        width: 40px;
        height: 40px;
    }
    .header__menu {
        width: 70%;
    }
    .header__search-wrap {
        width: 30%;
        height: 80px;
    }
    .header__button {
        padding-left: 40px;
    }
    .search-img {
        width: 20px;
        height: 20px;
    }
    .container-header-main {
        background-image: url("../img/main/background-medium.png");
    }
    .title {
        width: 50%;
        font-size: 90px;
        line-height: 100px;
        font-weight: bold;
    }
    .main__links {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__links-bookmark-img,
    .main__links-video-img {
        padding-right: 22px;
        width: 50px;
        height: 50px;
    }
    .main__links-video,
    .main__links-bookmark {
        font-size: 18px;
    }
    .main__desk {
        margin: 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main-stars {
        width: 60%;
        align-items: center;
    }
    .main__desk-about-stars-img {
        width: 23px;
        height: 21px;
    }
    .main-text-subtitle-stars-ball {
        font-size: 24px;
    }
    .main__form {
        padding: 5% 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__desc {
        width: 50%;
        text-align: center;
        line-height: 38px;
        margin-bottom: 0;
        font-size: 25px;
    }
    .form {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .input-wrapper {
        flex-direction: row;
        justify-content: space-around;
        width: 65%;
    }
    .main__input {
        margin: 50px 0;
        padding: 12px 35px 12px 0;
    }
  .main__input::-webkit-input-placeholder {
    padding-left: 30px;
  }
    .button-send {
        padding: 12px 55px;
    }
    .footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
    }
    .footer__nav {
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 0;
    }
    .footer__end {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .main {
        padding-left: 10%;
    }
    .main-text-subtitle {
        font-size: 18px;
    }
    .main-text {
        font-size: 24px;
    }
    .menu-burger {
        width: 40px;
        height: 40px;
    }
    .header__menu {
        width: 30%;
    }
    .header__search-wrap {
        width: 70%;
    }
    .header__button {
        padding-left: 40px;
    }
    .search-img {
        width: 20px;
        height: 20px;
    }
    .container-header-main {
        background-image: url("../img/main/background-medium.png");
    }
    .title {
        width: 50%;
        font-size: 90px;
        line-height: 100px;
        font-weight: bold;
    }
    .main__links {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__links-bookmark-img,
    .main__links-video-img {
        padding-right: 22px;
        width: 50px;
        height: 50px;
    }
    .main__links-video,
    .main__links-bookmark {
        font-size: 18px;
    }
    .main__desk {
        margin: 30px 0;
        width: 55%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main-stars {
        width: 70%;
        align-items: center;
    }
    .main__desk-about-stars-img {
        width: 23px;
        height: 21px;
    }
    .main-text-subtitle-stars-ball {
        font-size: 24px;
    }
    .main__form {
        padding: 5% 22%;
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .main__desc {
        text-align: center;
        line-height: 38px;
        margin-bottom: 0;
        font-size: 25px;
    }
    .form {
        width: 100%;
    }
    .input-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .main__input {
        margin: 50px 0;
        padding: 13px;
    }
    .button-send {
        padding: 15px 0;
    }
    .footer__nav {
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }
}

