
/*основные стили: сброс стилей, стили для переиспользования*/
:root {
    --white: #fff;
    --greywhite: #F6F6F6;
    --pink: #F92251;
    --grey: #82868E;
    --darkgrey: #BAC5D3
}

p {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    overflow: ;
    font-family: Titillium;
    color: var(--white);
}


.link {
    text-decoration: none;
    color: white;
}

/*Стили для хедера*/
.header__menu-desktop,
.logo{
 display: none;
}

.container-header-main {
    width: 100%;
    height: 100%;
    background-image: url("../img/main/background-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: .5px solid #A3A3A3;

    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.header__menu-text {
    font-family: Titillium;
    font-weight: lighter;
    font-size: 15px;

    color: #FFFFFF;
}

.header__menu-text:hover::before {
    content: "";
    position: absolute;
    background-color: var(--white);

    height: 2px;
    width: 50px;
    top: 100%;
}

.header__search-wrap {
    height: 100%;
    width: 60%;
    border-left: .5px solid #A3A3A3;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__button {
    background: none;
    border: none;
    outline: none;
}

.header__search {
    height: 100%;
    background: none;
    border: none;
    outline: none;

}

.header__search::-webkit-input-placeholder {
    color: var(--white);
}

/*Стили для основного контента*/

.main {
    padding-left: 22px;

    display: flex;
    flex-direction: column;
}

.title {
    width: 40%;
    font-family: Titillium;
    font-weight: bold;
    font-size: 25px;
}

.main-text-subtitle {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 5px;

    color: var(--greywhite);
}

.main-text {
    font-weight: normal;
    font-size: 17px;

    color: var(--greywhite);
}

.main__links {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.main__desk-about {
    margin-bottom: 10px;
}

/*стили для блока ссылок на видео с иконками*/
.main__links-video,
.main__links-bookmark {
    display: flex;
    align-items: center;
}

.main__links-bookmark-img,
.main__links-video-img {
    padding-right: 10px;
}

.main__links-bookmark:hover,
.main__links-video:hover {
    opacity: .8;
}

/*стили для блока stars*/

.main__desk-about-stars {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-stars {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-text-subtitle-stars {
    margin: 0;
}

/*Стили для секции формы в мейне*/

.main__form {
    background: linear-gradient(0deg, rgba(9, 9, 9, 0.465718), rgba(9, 9, 9, 0.465718)), #1F1F2F;
    height: 100%;
    padding: 30px 20px;
}

.main__desc {
    width: 90%;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.main__input {
    border: none;
    outline: none;
    background: var(--white);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.main__input::-webkit-input-placeholder {
    color: var(--grey);
}

.button-send {
    border: none;
    outline: none;
    background: var(--pink);
    border-radius: 10px;
    color: var(--white);
    text-transform: uppercase;
    padding: 10px 0;

    cursor: pointer;
}

.button-send:hover {
    opacity: .9;
}

/*Стили для футера*/

.footer {
    background: #404754;
    color: var(--darkgrey);
    font-size: 17px;
    display: flex;
    flex-direction: column;

    padding: 16px 20px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer__link {
    color: var(--darkgrey);
}

.footer__link:hover {
    opacity: .7;
}
