@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Black.ttf");
  src: url("../fonts/Lato/Lato-Bold.ttf");
  src: url("../fonts/Lato/Lato-Regular.ttf");
  src: url("../fonts/Lato/Lato-Light.ttf");
  src: url("../fonts/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}