/*обозначение цветовых переменных*/
:root {
    --grey: #F2F2F2;
    --white: #fff;
    --subtitle: #4A4A4A;
    --background: #f6f9ff;
    --block: #EDF3FF;
}

/*общий стиль для всего блока*/
body {
    margin: 0;
    bottom: 0;

    background-color: var(--grey);
    font-family: Arimo;
}

/*повторяющиеся стили для переиспользования*/

.subtitle {
    font-size: 14px;
    line-height: 16px;
    color: var(--subtitle);
}

.content-title {
    margin: 21px 23px;
    font-size: 16px;
    line-height: 18px;

    color: var(--subtitle);
}

.font-inner {
    font-size: 14px;
    line-height: 16px;

    color: var(--subtitle);
    opacity: 0.5;
}

/*основные стили*/

.wrap {
    display: flex;
    justify-content: space-around;
}
.aside {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 17%;
    padding: 15px;
}

.aside__subtitle {
    width: 80%;
}

.aside__card {
    display: flex;
    width: 195px;
    height: 164px;
    background-color: var(--block);
    margin: 15px 0;

    border-radius: 8px;

}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 83%;
    background-color: var(--grey)
}

.content-top {
    display: flex;
    justify-content: space-evenly;
}

.content-top__block {
    background-color: var(--white);
    width: 547px;
    height: 185px;
}

.content-top__text {
    display: flex;
    margin: 12px 14px;
}

.content-center-wrap {
    background-color: var(--white);
}

.content-center {
    display: flex;
    background-color: var(--white);
    justify-content: space-evenly;
    margin: 25px;
}

.content-center_subtitle {
    margin: 8px 8px 0 8px;
    display: inline-block;
}

.content-center__three-block {
    display: flex;
    flex-direction: column;
}

.content-center__wrap-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 25px 0;
}

.content-center__top-field {
    width: 195px;
    height: 240px;
    background-color: var(--background);

    border-radius: 8px;
}

.content-center__test-plan {
   display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #f6f9ff;
    border-radius: 8px;
}

.content-center__test-plan-block-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 660px;
    margin: 16px 0 20px;
}

.content-center__test-plan-block {
    background-color: var(--block);
    width: 93px;
    height: 158px;
    display: flex;
    align-items: center;

    border-radius: 8px;
    padding-left: 5px;

    font-weight: bold;
    font-size: 14px;

    color: #9C9FA5;
}

.content-center__bottom {
    display: flex;
    width: 870px;
    height: 197px;

    background-color: var(--background);
}

.content-center-right {
    width: 195px;
    height: 440px;
    background-color: var(--background);
    margin: 25px 0;
    border-radius: 8px;
}

.content-center__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
}

.content-center__bottom-checkbox {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 16px;
    color: #4A4A4A;

}

.content-center__bottom-checkbox-wrap {
    display: flex;
}

.content-center__bottom-subtitle {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 50px;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #4A4A4A;

}

.content-center__bottom-subtitle p {
    font-weight: bold;
}


.checkbox-field-two {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 45px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;

}

.checkbox-field-two input {
    margin-right: 10px;
}

.content-center__bottom-checkbox-three input {
    margin-right: 5px;
}

.content-center__bottom-checkbox-three span {
    display: inline-block;
}

.content-center__bottom-label-three {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4A4A4A;
    margin: 0 5px 20px 0;
    display: flex;
}

